header {
  background-color: #1f1f1f;
  padding: 12px 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  color: var(--cor-accento);
}

.inputsearch-wrapper {
  display: flex;
  flex-direction: row;
}

.campo-pesquisa {
  padding: 8px 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  width: 300px;
}

.btn-pesquisa {
  padding: 8px 16px;
  background-color: var(--cor-accento);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-pesquisa:hover {
  background-color: #267c34;
}

/* Responsividade */

@media (max-width: 425px) {
  .header-wrapper {
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
  }

  .inputsearch-wrapper {
    margin-top: 8px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .campo-pesquisa {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
  }
  .inputsearch-wrapper {
    margin-top: 8px;
    width: 100%;
  }
}
